<!DOCTYPE html>
{% extends 'baseHtml.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CabList</title>
</head>
<body>

        <ul class="list-group">
        {% for cabs in cabLists %}
       <a  class="list-group-item" href="{% url 'cabDetail' pk=cabs.id %}"> {{cabs.cabName}}  ,  {{cabs.noOfSeats}} </a>

        {% endfor %}
        </ul>   
    <a href="{% url 'masterApp' %}" type="button" class="btn btn-primary">Back To Main Page</a>
    
</body>
</html>
{% endblock %}
