<!DOCTYPE html>
{% extends 'baseHtml.html' %}
{% block content %}
<html>
    <head>
    </head>
    <body>
        {% if listUsers %}

            {% for userIter in listUsers %}
                <div>
                    <span class="list-group">{{ userIter.userEmailId }}</span>
                    <span class="list-group">{{ userIter.firstName }}</span>
                    <span class="list-group">{{ userIter.lastName }}</span>
                    <span class="list-group">{{ userIter.DOB }}</span>
                    <span class="list-group">{{ userIter.createdDate }}</span>
                    <span class="list-group">{{ userIter.updatedDate }}</span>
                    <span class="list-group"> <img src="{{userIter.image}}" height="50" width="50"></span>
                </div>
            {% endfor %}
        {% endif %}  
        <div>
            <a href="{% url 'masterApp' %}">Back to Home Page</a>
        </div>  
    </body>
</html>
{% endblock %}