<!DOCTYPE html>
{% extends 'baseHtml.html' %}
{% block content %}
<html>
    <head>
        
    </head>
    <body>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Success!</strong> {{ registerMessage }}
          </div>
        <form method="POST" class="container-fluid form-group">
            {{ userObj.as_p }}
            {{ registerUser.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Register User</button>
            <a href="/" type="button" class="btn btn-primary"> Back to Home Page</a>
        </form>
        
        
    </body>
</html>
{% endblock %}