<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>Aspire Cab Service</p>
        {% block content %}
            {% if user %}
                {% for userIter in user %}
                    <div>
                        {{ userIter.firstName }}
                    </div>
                {% endfor %}    
                
            {% endif %}  
        <a href="/login">login</a>
        <a href="/help">Help</a>  
        {% endblock %}
    </body>
</html>