<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1 class="modal-header">Hello World</h1>
        <p class="card-header">Aspire Cab Service</p>
        {% block content %}
            <a href="{% url 'listRegisteredUser' %}" class="btn btn-primary" type="button">ListUsers</a>
            <a href="{% url 'login' %}" class="btn btn-primary" type="button">login</a>
            <a href="{% url 'help' %}" class="btn btn-primary" type="button">Help</a> 
            <a href="{% url 'registerUser' %}" class="btn btn-primary" type="button">RegisterUser</a>   
        {% endblock %}
    </body>
</html>