{% extends 'baseHtml.html' %}
{% load static   %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CabServiceHelp</title>
</head>
<body>


<div>
    {{ help }}
    <img src="{%static  'Screenshot (416).png' %}" height="200" width="200" >
</div>
<div>
    <a href="/" class="btn btn-primary">Back to Home Page</a>
</div>
</body>
</html>
{% endblock %}