<!DOCTYPE html>
{% extends 'baseHtml.html' %}
{% block content %}

<html>
    <body>
        <div>
            <label>Username</label>
            <input type="text">
        </div>
        <div>
            <label>password</label>
            <input type="password">
        </div>
        <div>
           <button>Login</button>
        </div>
        <div>
            {{ hello }}
        </div>
        <div>
            <a href="/">Back To Main Page</a>
        </div>
    </body>
</html>
{% endblock %}